@use "src/Variables" as v;

.nav {
  position: fixed;
  width: 100%;
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 3;
  padding: 0 v.$big-dimension;

  @media (max-width: 425px) {
    padding: 0 v.$medium-dimension;
  }

  &__active {
    background: v.$first-color-dark;
  }

  &__container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: v.$big-gap;

    @media (max-width: 425px) {
      gap: v.$gap;
    }
  }

  &__logo {
    width: 7.9rem;
  }

  &__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: v.$big-gap;

    @media (max-width: 768px) {
      gap: v.$gap;
    }

    &-link {
      display: flex;
      gap: v.$small-gap;

      &--icon {
        font-size: v.$title-size;
      }

      &--text {
        font-size: v.$text-size;
        font-weight: 600;
        text-transform: uppercase;
        line-height: v.$text-height;

        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    &-alt {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    &-dots {
      display: none;

      @media (max-width: 1024px) {
        display: block;
      }
    }
  }

  &__account {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: v.$small-gap + .5rem;

    @media (max-width: 1024px) {
      width: 15%;
    }

    &-text {
      font-size: v.$text-size + .2rem;
      font-weight: 200;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    &-image {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      object-fit: cover;

      @media (max-width: 425px) {
        width: 3.6rem;
        height: 3.6rem;
      }
    }
  }
}