/* VARIABLES */

// fonts
$primary-font: 'Noto Sans', sans-serif;

// colors
$first-color-lighten: #C4D1E3;
$first-color-light: #40424D;
$first-color: #2B3041;
$first-color-dark: #0B0C12;
$button-color: #272834;
$white-color: #fff;

// sizes
$small-size: 1.2rem;
$text-size: 1.3rem;
$button-size: 1.5rem;
$title-size: 2rem;

// margin / padding
$smallest-dimension: .5rem;
$small-dimension: 1rem;
$medium-dimension: 2rem;
$big-dimension: 4rem;
$biggest-dimension: 6rem;


// gap
$smallest-gap: .5rem;
$small-gap: 1rem;
$gap: 2rem;
$big-gap: 4rem;

// line height
$text-height: 1.07;
$title-height: 1.4;
