@use "src/Variables" as v;

.slider {
  width: 85%;
  height: 10vw;
  overflow: visible;

  @media (max-width: 1024px) {
    height: 12vw;
  }

  @media (max-width: 768px) {
    height: 20vw;
  }

  @media (max-width: 425px) {
    height: 40vw;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0 2.2rem 7rem .4rem;
    transition: all .4s ease;

    &:hover {
      transform: scale(1.1);
      border: .4rem solid v.$first-color-lighten;
    }
  }
}